.date {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    margin: $margin-md $margin-sm;
}

.section-hero {
    margin: $margin-md $margin-sm;
    height: 70vh;
    background-image: linear-gradient(to bottom, $color-primary-dark, $color-primary), url(../../../public/gym.jpg);
    background-size: cover;
    background-position: center;

    &__text-box {
        position: absolute;
        bottom: $spacing-xl;
        padding: $padding-md;
        left: $spacing-xl;
        text-align: left;
        transform: translateY(-50%);
    }
}