.section-hero {
    margin: $margin-md $margin-sm;
    height: 70vh;
    background-image: linear-gradient(to bottom, $color-primary-dark, $color-primary), url(../../../public/gym.jpg);
    background-size: cover;
    background-position: center;

    &__text-box {
        position: absolute;
        bottom: $spacing-xxl;
        padding: $padding-md;
        left: $spacing-xl;
        text-align: left;
        transform: translateY(-20%);

        h1 {
            font-size: $font-size-xxl;
            font-weight: $font-weight-extra-bold;
            margin-bottom: $margin-xl;
            letter-spacing: $letter-spacing-md;
        }

        p {
            font-size: $font-size-sm;
            margin-bottom: $margin-md;
            letter-spacing: $letter-spacing-md;
            line-height: $line-height-sm;
        }
    }
}
