.audio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  .audio-header {
    color: $color-text-audio;
    text-align: center;
    font-size: $font-size-md;
    margin-top: $margin-xl;

    h3 {
      font-size: 3.5rem;
      font-weight: $font-weight-bold;
      margin: $margin-md auto;
    }
  }

  .audio-player {
    margin-top: $margin-xl;

    &__icons {
      display: grid;
      grid-gap: $margin-md;
      align-items: center;
      justify-items: center;
      margin-bottom: $margin-md;
      width: 100%;
      padding: 0 8rem;

      .icon {
        font-size: $font-size-xxl;
        color: $color-text-audio;
        margin: 0 $margin-md;
        cursor: pointer;

        &--play {
          font-size: 2rem;
        }

      }
    }
  }
}
