.btn-container {
  display: flex;
  flex-direction: column;
  margin: $margin-xl auto;
}

.btn {
  color: $color-text-light;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  background-color: $color-background-button;
  text-transform: capitalize;
  display: flex;
  width: 75%;
  margin: $margin-sm auto;
  justify-content: center;

  &:link,
  &:visited {
    display: inline-block;
    border: none;
    border-radius: $border-radius-md;
    cursor: pointer;
    text-decoration: none;
    padding: $spacing-sm $spacing-md;
    transition: all 0.2s;
    position: relative;
    font-size: $font-size-sm;
  }
}
