.heading-primary {
  font-size: $h1-font-size;
  font-weight: $font-weight-bold;
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin-bottom: $margin-sm;
}

.heading-secondary {
  font-size: $h3-font-size;
  font-weight: $font-weight-regular;
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin-bottom: $margin-md;
}

.paragraph {
  font-size: $font-size-sm;
  font-weight: $font-weight-regular;
  line-height: 1.6;
  margin-bottom: $margin-md;
}
