.heading-primary {
    font-size: $h1-font-size;
    font-weight: $font-weight-medium;
    line-height: 1.2;
    letter-spacing: 0.5px;
    margin-bottom: $margin-xs;
}

.paragraph {
    font-size: $font-size-sm;
    font-weight: $font-weight-regular;
    line-height: 1.6;
    letter-spacing: 0.5px;
    margin-bottom: $margin-xs;
}
