.footer {
    background-color: $color-default;

    .nav-col {
        padding: $padding-sm $padding-md;
        text-align: left;


        h2 {
            color: $default-bg;
            font-size: $h2-font-size;
            font-weight: $font-weight-bold;
            letter-spacing: $letter-spacing-md;
            line-height: $line-height-md;
            margin-bottom: $margin-sm;
        }

        p {
            color: $default-bg;
            font-size: $font-size-sm;
            font-weight: $font-weight-regular;
            letter-spacing: $letter-spacing-sm;
            line-height: $line-height-sm;
        }

        ul {
            li {
                margin-bottom: $margin-sm;
                a {
                    color: $default-bg;
                    font-size: $font-size-sm;
                    font-weight: $font-weight-regular;
                    letter-spacing: $letter-spacing-sm;
                    line-height: $line-height-sm;
                    text-decoration: none;
                }
            }
        }
    }
}