.header-img {
  .imgstyle {
    object-fit: cover;
    position: relative !important;
  }
}

.header-text {
  h1 {
    font-size: $h1-font-size;
    font-weight: $font-weight-bold;
  }

  p {
    margin: $margin-md 0;
  }
}
